/app/Tests
/docker
!/docker/start-container-scheduler
!/docker/start-container
!/docker/supervisord.conf
!/docker/php.ini
!/docker/config/*
!/docker/prod/php.ini
!/docker/prod/supervisord.conf
!/docker/prod/start-container
!/docker/prod/reverb-supervisord.conf
!/docker/prod/start.sh
!/docker/scripts/autolang.py
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
#/vendor
/node_modules
/doc
/stubs
/.git
/.github
.*
Dockerfile
docker-compose.yml
docker-production.yml
docker-ready.yml
README.md