/node_modules
/docker
/vendor
!/docker/start-container-scheduler
!/docker/start-container
!/docker/supervisord.conf
!/docker/php.ini
!/docker/basic.conf
!/docker/prod/supervisord.conf
!/docker/prod/start.sh
/stubs
/.git
/.github
.*
!.env
Dockerfile
docker-compose.yml
docker-production.yml
README.md